* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    margin: 10px;
}
.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
.grid {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 618px;
    height: 618px;
}
.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}